<div class="renewals-list-widget">
  <h3>Upcoming Renewals</h3>
  <ng-container *ngIf="!loading() && !error()">
    <mat-list *ngIf="renewals().length > 0; else noRenewals">
      <mat-list-item *ngFor="let renewal of renewals()">
        <span matListItemTitle>{{ renewal.salonName }}</span>
        <span matListItemLine>{{ renewal.renewalDate | date: 'mediumDate' }}</span>
      </mat-list-item>
    </mat-list>
    <ng-template #noRenewals>
      <div>No upcoming renewals.</div>
    </ng-template>
  </ng-container>
  <mat-progress-bar *ngIf="loading()" mode="indeterminate"></mat-progress-bar>
  <mat-error *ngIf="error()">{{ error() }}</mat-error>
</div>
