<div class="renewals-list-widget">
  <h3>Upcoming Renewals</h3>
  <ng-container *ngIf="!loading && !error">
    <ul *ngIf="renewals.length > 0; else noRenewals">
      <li *ngFor="let renewal of renewals">
        <span class="salon-name">{{ renewal.salonName }}</span>
        <span class="renewal-date">{{ renewal.renewalDate | date: 'mediumDate' }}</span>
      </li>
    </ul>
    <ng-template #noRenewals>
      <div>No upcoming renewals.</div>
    </ng-template>
  </ng-container>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-error *ngIf="error">{{ error }}</mat-error>
</div>
